th, td {
	border: 1px solid black;
	padding: 8px;
}
body {
    font-family: sans-serif;
  }

table {
	border-collapse: collapse;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}
thead th{
    width: 25%;
} 
.cell-highlight {
    background-color: rgb(90, 101, 226);
    font-weight: bold;
  }
  tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #eee;
  }
  tbody th {
    background-color: rgb(121, 246, 131);
    color: #fff;
    text-align: left;
  }
caption {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #333;
    margin-bottom: 16px;
  }
  thead {
    background-color: rgb(7, 6, 6);
    color: white;
    font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
  }
  tbody tr:nth-child(even) th {
    background-color: #25c;
  }